[sendemail]
    smtpencryption = tls
    smtpserver = smtp.gmail.com
    smtpuser = dibson@gmail.com
    smtpserverport = 587
[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
  st = status
  dc = diff --cached
  ci = commit
  co = checkout
  b = branch
  dif = diff
  lg = log -5
[color]
	ui = true
